#fairy{
  width: 70%;
}
#fairies{
 width: 70%;
}
#fairyanatomy{
 width: 70%;
}
#fairyorigin{
 width: 70%;
}

.sofia_font{
 font-family: "Sofia", sans-serif;
}

.triong_font{font-family: "Trirong" ,serif;
}

body {
 background-color:turquoise;
